.navbar {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  justify-items: center;
  margin-top: 2rem;
}

.links > a {
  text-decoration: none;
}

.link {
  margin-right: 1.5rem;
  color: #1d1f22;
}

.markings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.active {
  color: var(--green);
  border-bottom: 1px solid var(--green);
  padding-bottom: 1rem;
}
